*{
  font-family: sans-serif;
}
.app {
  width: 100%;
  height: 100vh;
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
}
header{
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: #f8f8f8;*/
  /*border: 1px solid black;*/
  background: url("./images/for-my-header.png");
}
nav.navbar{
  background-color: #ffffff;
  box-shadow: 0px 0px 8px rgba(128, 128, 128, 0.45);
  position: sticky;
  top: 0;
}
.nav-link{
  font-size: 18px;
  font-weight: 600;
}
.nav-link.my-active{
  color: red;
}
.logo{
  font-weight: 800;
}
.header-blue{
  font-size: 50px;
  font-weight: 700;
}
.my-image{
  width: 100%;
  height: auto;
  border: 7px solid #7b7b7b;
  border-radius: 50%;
  box-sizing: border-box;
  /*padding: 7px;*/
  box-shadow: 0px 5px 15px #7b7b7b;
}
.my-image img{
  width: 100%;
  height: auto;
  border-radius: 50%;
  border-radius: 50%;
  border: 7px solid white;
}